<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="hw0c.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
    <p><b>Envelope</b><br><br><br>
        <strong>sign in to your account</strong> <br><br>
        Don't have an account? <a href="#">Start free trial</a></p>
    </div>
    <div class="form">
        <form >
            <br>
            <label >Email address</label><br><br>
            <input type="Email" translate="yes"><br><br><br>
            <label >password</label>
            <a href="#">Forgot Password?</a><br><br>
            <input  type="password" ><br> <br>
            <button>Sign in</button><br><br>
            <p>or continue with</p>
            <div class="icon">
                <a href="http://instagram.com"><i class='fa fa-instagram'></i></a>
                <a href="http://facebook.com"><i class='fa fa-facebook'></i></a>
                <a href="http://github.com"><i class='fa fa-github'></i></a>
            </div>
        </form>
    </div>
</body>
</html>